<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>SKI:P 아이디 찾기</title>
</head>
<body style="margin: 0; padding: 0;">
<table width="100%" cellpadding="0" cellspacing="0" border="0" align="center">
	<tr>
		<td align="left">
			<table width="350" cellpadding="0" cellspacing="0" border="0" style="font-family: Arial, sans-serif;">
				<!-- 로고 -->
				<tr>
					<td style="padding: 20px 0;">
						<h2 style="margin: 0; font-size: 24px;">
							<a href="http://localhost:5173" style="color: #5399f5; text-decoration: none;">SKI:P</a>
						</h2>
					</td>
				</tr>
				
				<!-- 제목 -->
				<tr>
					<td style="padding: 10px 0;">
						<h2 style="margin: 0; font-weight: 500; font-size: 20px;">가입된 아이디 목록입니다.</h2>
					</td>
				</tr>
				
				<tr>
					<td style="padding-top: 10px;">
						<h4 style="margin: 0; font-weight: 500; font-size: 16px;">아이디</h4>
					</td>
				</tr>
				
				<tr>
					<td>
						<table width="300" align="center" cellpadding="0" cellspacing="0" border="0" style="background-color: #f1f1f1; border-radius: 10px;">
							{{content}}
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
</body>
</html>