<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>SKI:P 이메일 인증</title>
</head>
<body style="margin: 0; padding: 0;">
<table width="100%" cellpadding="0" cellspacing="0" border="0" align="center">
	<tr>
		<td align="left">
			<table width="350" cellpadding="0" cellspacing="0" border="0" style="font-family: Arial, sans-serif;">
				<!-- 로고 -->
				<tr>
					<td style="padding: 20px 0;">
						<h2 style="margin: 0; font-size: 24px;">
							<a href="http://localhost:5173" style="color: #5399f5; text-decoration: none;">SKI:P</a>
						</h2>
					</td>
				</tr>
				
				<!-- 제목 -->
				<tr>
					<td style="padding: 10px 0;">
						<h2 style="margin: 0; font-weight: 500; font-size: 20px;">이메일 인증 메일입니다.</h2>
					</td>
				</tr>
				
				<!-- 인증번호 설명 -->
				<tr>
					<td style="padding-top: 10px;">
						<h4 style="margin: 0; font-weight: 500; font-size: 16px;">인증 번호</h4>
					</td>
				</tr>
				
				<!-- 인증번호 박스 -->
				<tr>
					<td style="padding: 10px 0;">
						<table width="300" height="200" align="center" cellpadding="0" cellspacing="0" border="0" style="background-color: #f1f1f1; border-radius: 10px;">
							<tr>
								<td align="center" valign="middle" style="font-size: 1.1em;">
									{{code}}
								</td>
							</tr>
						</table>
					</td>
				</tr>
				
				<!-- 안내 문구 -->
				<tr>
					<td style="padding-top: 10px;">
						<span style="font-size: 0.8em; color: dimgray;">
						* 개인정보보호를 위해 인증번호는 10분 동안만 유효합니다.
						</span>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
</body>
</html>